// :host {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: flex-start;
//   min-height: 73vh;
//   padding: 2rem 0 2.5rem;

//   form {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: flex-start;
//     justify-content: center;
//     width: 100%;

//     mat-form-field {
//       margin-right: 0.5rem;
//     }

//     mat-icon {
//       background-color: #605dc8;
//       color: #fff;
//       font-size: 2rem;
//       height: 2rem;
//       width: 2rem;
//       padding: 0.5rem;
//       margin: 0.2rem 0.3rem;
//       border-radius: 1rem;
//       cursor: pointer;
//     }
//   }

//   .result {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//   }
// }
/* Media queries */
@media (max-width: 992px) {
  .left-content {
      text-align: center;
      margin-bottom: 20px;
  }
}

@media (max-width: 768px) {

  .left-content h4,
  .left-content h6 {
      font-size: 1.5em;
  }
}

@media (max-width: 576px) {

  .left-content h4,
  .left-content h6 {
      font-size: 1.2em;
  }
}

/* Estilos para centrar el label dentro del card */
.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centra horizontalmente */
  text-align: center;
  /* Centra el texto */
}

.project-box label {
  margin-top: 10px;
  /* Ajusta el margen superior del texto */
}

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #ff9e0b;
}

.rating>input:checked~label {
  color: #ffa723;
}

.comic-button {
  position: absolute;
  top: 70px; /* Ajusta la distancia desde la parte superior según tus necesidades */
  right: 5px; /* Ajusta la distancia desde el lado derecho según tus necesidades */
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #cead1a;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #cead1a;
  border: 2px solid #cead1a;
  box-shadow: 5px 5px 0px #cead1a;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}
.seccion_button {
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 25% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.star-rating {
  color: #f8ce0b; /* Color de las estrellas */
}

.star {
  font-size: 26px; /* Tamaño de las estrellas */
}
